
@{
    ViewBag.Title = "AddArticle";
}

<h2>添加博客</h2>
<form action="/Blog/ArticleSave" method="post">
    <table class="table table-bordered">
        <tr>
            @*第一行*@
            <td>博客标题:</td>
            <td><input type="text" name="subject" value="" /></td> @*第二列*@
        </tr>
        <tr>
            <td>添加内容:</td>
            <td><textarea name="body" cols="60" rows="4"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-primary">保存</button>
                <button type="reset" class="btn btn-warning">取消</button>
            </td>
        </tr>
    </table>
</form>


