
@{ 
    ViewBag.Title = "News";
    var News = ViewBag.data as string[];

    var curpage = (int)ViewBag.Page;
    var start = curpage - 3;
}

<h2>News</h2>
<h3>第 @ViewBag.Page 页</h3>

<ol class="list-unstyled">
    @{
        foreach (var item in News)
        {
            <li>@item</li>
        }
    }
</ol>

<ol class="list-unstyled">
    @for (int i = start; i < curpage + 3; i++)
    {
        <li>
            <a href="/Home/News?Page=@i">第 @i 页</a>
          @* @Html.ActionLink(string.Format("第{0}页",i),"News","Home",new { page = i },null)  *@
        </li>
    }
</ol>

