
@{ 
    ViewBag.Title = "News";

    var News = ViewBag.data as string[];
}

<h2>News</h2>

<ol class="list-unstyled">
    @{
        foreach (var item in News)
        {
            <li>@item</li>
        }
    }
</ol>

